.App {

}

.App .navBarAppBar {

}
/******************************
    CARDS RELATED STYLES
******************************/

.App .searchBarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App .contentArea {
}

.App .contentArea .restaurantContentArea {

}

.App .contentArea .splashContentArea {
  padding: 50px 70px 0 70px;
}

.App .contentArea .RestaurantGridContainer {
  padding: 55px 0 0 0;
}

.App .navBarAppBar .navBarToolBar {
  min-height: 90px;
  background-color: #FFFFFF;
  padding-left: 45px;
  padding-right: 45px;
}

.navBarAppBar .navBarToolBar .navBarLogo {
  font-size: 40px;
}

.navBarToolBar .navBarLogo .navBarFlavorLogo {
  color: #262626;
}

.navBarToolBar .navBarLogo .navBarHubLogo {
  color: salmon;
}

.navBarToolBar .navBarLogin {
  margin-right: 10px;
  padding: 0 20px 0 20px;
  text-transform: none;
  background-color: transparent;
  box-shadow: none;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
}

.navBarToolBar .navBarLogin:hover {
  background-color: #f1f1f1;
}

.navBarToolBar .navBarRegister {
  margin-left: 10px;
  padding: 0 20px 0 20px;
  text-transform: none;
  background-color: #262626;
  box-shadow: none;
  border: 1px solid black;
  color: white;
  border-radius: 2px;
}

.navBarToolBar .navBarRegister:hover {
  background-color: black;
}


.searchBarContainer .searchBarUpperTextContainer {
  padding: 0 0 10px 0;
}

.searchBarContainer .searchBarInputRegion {
  display: flex;
  flex-direction: row;
  width: 55%;
}

.searchBarContainer .searchBarUpperTextContainer .searchBarUpperText {
  font-size: 25px;
}

.searchBarContainer .searchBarInputRegion .searchBarSearchButton {
  background-color: salmon;
  color: white;
  padding: 0 30px 0 30px;
  min-height: 34px;
  box-shadow: none;
  font-size: 15px;
  text-transform: none;
}

.searchBarContainer .searchBarInputRegion .searchBarrestaurantSearch {
  padding: 10px;
  width: 100%;
  margin: 0 20px 0 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  border-style: none;
  border-bottom: 1px solid #f1f1f1;
  font-size: 20px;

  -webkit-transition: border-bottom .35s ease-in-out;
  transition: border-bottom .35s ease-in-out;
}

.searchBarContainer .searchBarInputRegion .searchBarrestaurantSearch:focus {
  outline: none;
  border-bottom: 1px solid #b1b1b1;
}

::-webkit-input-placeholder {
  color: #e1e1e1;
  font-size: 20px;
}

.RestaurantGridContainer .restaurantCard .restaurantCardText:hover {
  -webkit-transition: background-color .35s ease-in-out;
  transition: background-color .35s ease-in-out;
}

.restaurantCard .restaurantCardText:hover {
    background-color: #F9F9F9;
}

.restaurantContentArea .restaurantImageBannerContainer {
    width: 100%;
    height: 350px;
}

.restaurantImageBannerContainer .restaurantImageBannerImage {
  width: 100%;
  height: 100%;
}

.restaurantContentArea .restaurantContentAreaInformationBox {
  max-width: 350px;
  min-height: 150px;
  margin: 50px 70px 0 70px;
}

.restaurantContentAreaInformationBox .restaurantContentAreaRestaurantName {
  font-size: 25px;
  padding: 0 0 20px 0;
}
